canvas {
  background-color: black;
  display: block;
  border: 1px solid chartreuse;
}

.startscreen,
.gameOverScreen,
.endScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.startscreen {
  background-image: url("../img/game_background/start_screen.png");
}

.gameOverScreen {
  background-image: url("../img/game_background/gameover_screen.png");
}

.endScreen {
  background-image: url("../img/game_background/end_screen.png");
}

.gamescreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoRow {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 70%;
}

.legalRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: absolute;
  bottom: 30px;
}

.overlay {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #131c23bc;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

.overlayContent {
  display: flex;
  gap: 10px;
  align-items: top;
}

.infoDialog {
  z-index: 40;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 650px;
  height: 400px;
  gap: 60px;
  border: 1px solid chartreuse;
  border-radius: 20px;
  background-color: #1c2836;
}

.gameInfoRow {
  display: flex;
  width: 960px;
  align-items: top;
  justify-content: space-between;
  margin-top: 20px;
}

.keyInfoRow {
  display: flex;
  gap: 80px;
  align-items: baseline;
  justify-content: center;
}

.settingsRow {
  display: flex;
  gap: 30px;
  align-items: baseline;
  justify-content: center;
}

.infoContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.infoText {
  color: whitesmoke;
  font-size: 15pt;
  margin: 0px;
}

@media screen and (orientation: portrait) {
  .startscreen,
  .gameOverScreen,
  .endScreen,
  .gamescreen {
    width: 100vh;
    height: 100vw;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
  }

  canvas {
    height: 98vw;
  }

  .overlay {
    height: 100vw;
    width: 100vh;
  }

  .infoDialog {
    width: 60vh !important;
    height: 70vw !important;
    gap: 40px !important;
  }
}

@media only screen and (max-width: 960px) {
  body {
    width: 100%;
  }

  canvas {
    width: 100%;
  }

  .headline {
    display: none;
  }

  .infoDialog {
    width: 650px;
    height: 400px;
    gap: 50px;
  }

  .infoText {
    font-size: 13pt;
  }

  .keyInfoRow {
    gap: 60px;
  }

  .mobileButtonRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
  }

  .gameInfoRow {
    display: none;
  }
}

@media (max-width: 780px) {
  .infoDialog {
    width: 550px;
    height: 400px;
    gap: 40px;
  }

  .infoRow {
    width: 70%;
  }

  .legalRow {
    gap: 30px;
    bottom: 20px;
  }

  .keyInfoRow {
    gap: 40px;
  }

  .infoText {
    font-size: 11pt;
  }
}

@media (max-height: 500px) {
  .infoRow {
    top: 60%;
  }
}

@media (max-width: 650px) {
  .infoDialog {
    width: 450px;
    height: 400px;
    gap: 40px;
  }
}

@media (max-width: 525px) {
  .infoDialog {
    z-index: 40;
    width: 380px;
    height: 400px;
    gap: 40px;
  }

  .infoRow {
    width: 80%;
  }

  .legalRow {
    gap: 20px;
    bottom: 10px;
  }

  .keyInfoRow {
    gap: 30px;
  }
}

@media (max-width: 450px) {
  .infoDialog {
    z-index: 40;
    width: 320px;
    height: 400px;
    gap: 10px;
  }

  .keyInfoRow {
    gap: 20px;
  }
}

@media only screen and (max-height: 540px) and (orientation: landscape) {
  h1 {
    display: none;
  }

  body {
    height: 100vh;
  }

  canvas {
    height: 99vh;
  }
}

@media (max-height: 500px) {
  .infoDialog {
    z-index: 40;
    height: 300px;
    gap: 30px;
  }
}

@media (max-height: 380px) {
  .infoDialog {
    z-index: 40;
    height: 250px;
    gap: 20px;
  }
}
